* {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
  }

body {
    background-color: #f4f3f3;
    font-family: Neuemontreal, sans-serif;
    color: #000;
    line-height: 1;
    font-weight: 400;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body, html {
    margin: 0;
    padding: 0;
}

p {
    line-height: 135%;
}

lottie-player {
	display: inline-block;
  }

.no-scroll {
    height: 100vh;
    overflow: hidden;
}

.visually_hidden {
    position: absolute;
    visibility: hidden;
    height: 0.1px;
    width: 0.1px;
    overflow: hidden;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    font-size: inherit;
    cursor: pointer;
}

a.btn {
    text-decoration: none;
}

.content_wrapper {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.head_sect0 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.site_logo {
    max-width: 100px;
    max-height: 80px;
    object-fit: contain;
    overflow: hidden;
}

.site_logo img {
    height: 1.25em;
    /* width: 55px; */
}

.main_btn {
    display: block;
    position: relative;
    width: 40px;
    height: 14px;
    font-size: 0;
    line-height: 0;
    background: none;
    z-index: 101;
}

.main_btn::before,
.main_btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #002b99;
    transition: 0.3s;
}

.main_btn::before {
    top: 0;
}

.main_btn::after {
    bottom: 0;
}

/* Navigation block */

.main_nav {
    padding: 120px 10px 15px 25px;
    margin-left: auto;
    height: 100%;
    max-width: 768px;
    background-color: #fe505d;
    box-sizing: border-box;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    user-select: none;
}

.main_nav_block {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    min-height: 300px;
    top: 0;
    right: -100%;
    overflow: hidden;
    transition: 0.3s;
}

.nb1__open .main_nav_block {
    right: 0;
}

.nb1__open .main_btn::before,
.nb1__open .main_btn::after {
    background-color: #fff;
}

.nb1__open .main_btn::before {
    transform: translateY(6px) rotate(45deg);
}

.nb1__open .main_btn::after {
    transform: translateY(-6px) rotate(-45deg);
}

.main_nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main_nav a {
    display: inline-block;
    padding: 4px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #fff;
}

.main_nav ul:nth-child(2) {
    margin-top: 40px;
}

/* First header section */
.head_sect1 {
    color: #002b99;
}

.head_sect1 {
    padding: 80px 0 0;
    margin-bottom: 60px;
}

.header_text,
.sect2_textblock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.head_sect1 .header_text {
    font-size: 9vw;
    font-weight: 400;
    line-height: 1.1em;
}

.more_buttons {
    margin-top: 15px;
}

.sect1_btn {
    padding: 0.5em 1.25em;
    margin-right: 30px;
    background-color: #002b99;
    border-radius: 50px;
    color: #fff;
}

.sect1_btn__2 {
    background-color: transparent;
    border: 1px solid #002b99;
    color: #002b99;
}

/* Header text visuals */

.ht__1 {
    color: #fe505d;
}

.lottie-anim {
    display: inline-block;
    margin: 0 5px;
    flex: 0 0 1em;
    width: auto;
    height: 1em;
    overflow: hidden;
    margin-bottom: -5px;
}

.lottie-anim__1 {
    flex: 0 0 2em;
    margin: 0;
    height: 1.2em;
}

.lottie-anim__2 {
    margin: 0 5px 0 0;
}

/* .lottie-anim {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  } */


/* Section 2 */

.mob_blocks {
    padding-top: 55px;
    padding-bottom: 55px;
}

.sect2_textblock {
    font-size: 9vw;
    font-weight: 400;
    line-height: 1.1em;
    letter-spacing: -0.003em; 
    color: #002b99;
}

.sect2_text {
    padding: 80px 0 60px;
}

.rounded-section {
    min-height: 120px;
    padding-bottom: 90px;
    margin-bottom: -100px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border: 1px solid transparent;
    background-color: #f4f3f3;

}

.main_sect2 {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

/* Quiz section */

.mainname_text {
    font-size: 9vw;
}

.mainname_quiz textarea {
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 10vw;
    font-family: inherit;
    border: none;
    background: transparent;
    color: #fff;
}

.mainname_quiz textarea:focus {
    outline: none;
}

.mainname_quiz textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.main_name,
.main_footer {
    position: relative;
    padding-top: 110px;
}

.main_name {
    z-index: 1;
    padding-top: 140px;
    padding-bottom: 120px;
    background-color: #fe505d;
    color: #f4f3f3;
}

.quiz_buttons {
    margin-top: 23px;
}

.quiz_btn {
    margin: 0 16px 0 0;
    padding: 0.4em 1.15em;
    font-size: 16px;
    border-radius: 50px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    overflow: hidden;
}

.quiz_btn:hover {
    background-color: #fff;
    color: #fe505d;
}

/* Footer section */

.main_footer {
    padding-top: 140px;
    padding-bottom: 20px;
    color: #fff;
    background-color: #002B9A;
}

.main_footer .site_logo {
    margin-bottom: 20px;
    filter: brightness(100);
}

/* .main_footer .site_logo img {
    width: 50px;
} */

.main_footer a {
    color: #fff;
    text-decoration: none;
    z-index: 1;
}

.footer_nav {
    padding: 0;
}

.footer_nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer_nav li {
    margin-top: 2px;
}

.footer_nav li a,
.btn_back {
    display: inline-block;
    padding: 5px 0;
    font-size: 22px;
}

.footer_nav .sec {
    margin-top: 95px;
}

.linkedin {
    width: 26px;
    height: 26px;
}
.footer_nav .linkedin a {
   margin: 0;
   padding: 0;
}

.footer_nav .linkedin {
    margin-bottom: 5px;
}

.main_nav .linkedin a {
    margin: 0;
   padding: 0;
   padding-left: 4px;
}


.linkedin img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main_name_content {
    margin-top: 25px;
    margin-bottom: 10px;
}


.btn_back {
    padding-right: 30px;
    margin-top: 30px;
    background: none;
    color: #fff;
    background-image: url("../img/top.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 22px 22px;
}

/* Brands */

.brands_block img {
    height: 100%;
    width: auto;
    object-fit: contain;
}

@keyframes brandsAnym {
    0% {
        transform: translate3d(0%, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.brands_block {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 50px;
    transform-style: preserve-3d;
    will-change: transform;
    animation: 10s linear 0s infinite normal brandsAnym;
    -webkit-animation: brandsAnym 10s linear infinite;
    -moz-animation: brandsAnym 10s linear infinite;
    -o-animation: brandsAnym 10s linear infinite;
}

.sect2_brands {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.brands_block .brand {
    padding: 0 15px;
}

/* Brands end */

/* Mob-click blocks */

.mc_open {
    z-index: 1000;
}

.mob_blocks_group1,
.mob_blocks_group2 {
    position: relative;
}

.mc_open .mc_title {
    max-width: 300px!important;
    width: auto!important;
}

.mob_click.mc_open {
    position: absolute;
    width: 100%;
    height: 88vw;
}

.mc_desc {
    visibility: hidden;
    opacity: 0;
    width: 80%;
    min-width: 250px;
    max-height: 0px;
    line-height: 150%;
    transform: translateY(-10px);
    overflow: hidden;
}

.mc_open .mc_desc {
    visibility: visible;
    opacity: 1;
    max-height: 300px;
    transform: translateY(0px);
    animation: mc_desc linear 0.5s normal;
}

.mc_desc {
    transition: height 0.5s cubic-bezier(0.28, 0.11, 0.32, 1),
    transform 0.5s cubic-bezier(0.28, 0.11, 0.32, 1) 0.3s;
}

@keyframes mc_desc {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.mob_click_content {
    position: relative;
    height: 100%;
}

.mob_click__1.mc_open {
    border-bottom-right-radius: 4em;
    border-top-right-radius: 4em;
}

.mob_click__2.mc_open {
    border-radius: 0;
    border-bottom-right-radius: 4em;
}

.mob_click__3 {
    right: 0;
    bottom: 0;
}

.mob_click__3.mc_open {
    border-top-left-radius: 4em;
    border-bottom-left-radius: 4em;
}

.mc_open .mc_plus {
    transform: rotate(45deg);
}

.mob_click__3 .mc_desc {
    margin-left: auto;
}

.mob_img__1,
.mob_img__2 {
    margin-left: auto;
}

.mc_title {
    transition: width 0.4s cubic-bezier(0.28, 0.11, 0.32, 1) 0.4s;
}

.mob_click {
    transition: 0.4s cubic-bezier(0.38, 0.11, 0.42, 1);
    transition-property: width, height, border-radius;
}

.mc_plus {
    transition: 0.3s cubic-bezier(0.38, 0.11, 0.42, 1);
}

.mob_img {
    transition: border-radius 350ms ease 0s;
    transition-delay: 0.3s;
}

.mob_img__1:hover {
    border-radius: 0% 6em 6em 0%;
}

.mob_img__2:hover {
    border-radius: 3em;
}

.mob_img__3:hover {
    border-radius: 0% 40% 0% 40%;
}

.mob_img__4 {
    transition-timing-function: linear;
    transition-delay: 0.3s;
}

.mob_img__4:hover {
    border-radius: 5em 0%;
}


/* Mob-click blocks end */














@media only screen and (max-width: 479px) {
    .content_wrapper {
        padding-left: 19.5px;
        padding-right: 19.5px;
    }

    .sect1_btn {
        margin: 15px 15px 0 0;
    }

    .main_nav {
        font-size: 22px;
    }

    .rounded-section {
        border-bottom-left-radius: 85px;
        border-bottom-right-radius: 85px;
    }

}

@media only screen and (max-width: 768px) {
/* Header section */
.more_buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
}

/* Section 2 blocks */

.mob_block {
    display: flex;
    height: 44vw;
}

.mc_title {
    max-width: 3em;
    max-width: min-content;
}

.mob_click {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 44vw;
    padding: 14px;
    text-transform: lowercase;
    box-sizing: border-box;
}

.mob_click .mc_title {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 7vw;
    font-weight: 400;
}

.mc_plus {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url("../img/plus.png");
    background-size: 100% 100%;
}

.mc_plus__blue {
    background-image: url("../img/plus_blue.png");
}

.mob_click__1 {
    color: #fff;
    background-color: #FF505D;
    border-bottom-right-radius: 4em;
    z-index: 10000!important;
}

.mob_click__1 .mc_title {
    width: 50px;
}

.mob_click__2 {
    color: #002B9A;
    background-color: #F4EE6B;
    border-radius: 30px;
}

.mob_click__3 {
    color: #fff;
    background-color: #002B9A;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    text-align: right;
}

.mob_click__3 .mc_title {
    margin-left: auto;
}

.mob_click__3 .mc_plus {
    right: 0;
    left: auto;
}

.mob_img__2 {
    border-radius: 50%;
}

.mob_img__3 {
    height: 44vw;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.mob_img__4 {
    height: 88vw;
    border-radius: 5em;
    display: inline-block;
}

.mob_img {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    min-height: 44vw;
}

.mob_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mob_block__ver {
    display: inline-block;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.mob_block__ver .mob_img {
    width: 100%;
}

.mob_blocks_group2 {
    display: flex;
}

.mainname_text_desktop {
    display: none;
}

/* Brands */

.brands_block {
    height: 37px;
}

}