body {
    background-color: #f4f3f3;
    font-family: Neuemontreal, sans-serif;
    color: #000;
    line-height: 1;
    font-weight: 400;
}

body, html {
    margin: 0;
    padding: 0;
}

.no-scroll {
    height: 100vh;
    overflow: hidden;
}

.visually_hidden {
    position: absolute;
    visibility: hidden;
    height: 0.1px;
    width: 0.1px;
    overflow: hidden;
}

.btn {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    font-size: inherit;
    cursor: pointer;
}

a.btn {
    text-decoration: none;
}

.content_wrapper {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.head_sect0 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.site_logo {
    max-width: 100px;
    max-height: 80px;
    object-fit: contain;
    overflow: hidden;
}

.site_logo img {
    width: 45px;
}

.main_btn {
    display: block;
    position: relative;
    width: 40px;
    height: 14px;
    font-size: 0;
    line-height: 0;
    background: none;
    z-index: 101;
}

.main_btn::before,
.main_btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #002b99;
    transition: 0.3s;
}

.main_btn::before {
    top: 0;
}

.main_btn::after {
    bottom: 0;
}

/* Navigation block */

.main_nav {
    padding: 120px 10px 15px 25px;
    margin-left: auto;
    height: 100%;
    max-width: 768px;
    background-color: #fe505d;
    box-sizing: border-box;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    user-select: none;
}

.main_nav_block {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    min-height: 300px;
    top: 0;
    right: -100%;
    overflow: hidden;
    transition: 0.3s;
}

.nb1__open .main_nav_block {
    right: 0;
}

.nb1__open .main_btn::before,
.nb1__open .main_btn::after {
    background-color: #fff;
}

.nb1__open .main_btn::before {
    transform: translateY(6px) rotate(45deg);
}

.nb1__open .main_btn::after {
    transform: translateY(-6px) rotate(-45deg);
}

.main_nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main_nav a {
    display: inline-block;
    padding: 4px;
    margin-bottom: 5px;
    text-decoration: none;
    color: #fff;
}

.main_nav ul:nth-child(2) {
    margin-top: 40px;
}

/* First header section */
.head_sect1 {
    color: #002b99;
}

.head_sect1 {
    padding: 80px 0 0;
    margin-bottom: 60px;
}

.head_sect1 .header_text {
    font-size: 9vw;
    font-weight: 400;
    line-height: 1.1em;
}

.more_buttons {
    margin-top: 15px;
}

.sect1_btn {
    padding: 0.5em 1.25em;
    margin-right: 30px;
    background-color: #002b99;
    border-radius: 50px;
    color: #fff;
}

.sect1_btn__2 {
    background-color: transparent;
    border: 1px solid #002b99;
    color: #002b99;
}

/* Header text visuals */

.ht__1 {
    color: #fe505d;
}

.ic_1 {
    display: inline-block;
    width: 15px;
    margin: 0 5px;
    line-height: inherit;
    color: rgb(0, 204, 195);
}

.lottie-anim {
    display: inline-block;
}

.lottie-anim {
    height: 1em;
    overflow: hidden;
    margin-bottom: -5px;
}

.lottie-anim__1 {
    height: 1.1em;
}

/* Section 2 */

.mob_blocks {
    padding-top: 55px;
    padding-bottom: 55px;
}

.sect2_textblock {
    font-size: 9vw;
    font-weight: 400;
    line-height: 1.1em;
    letter-spacing: -0.003em; 
    color: #002b99;
}

.sect2_text {
    padding: 80px 0 50px;
}

.rounded-section {
    min-height: 120px;
    padding-bottom: 90px;
    margin-bottom: -100px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border: 1px solid transparent;
    background-color: #f4f3f3;

}

.main_sect2 {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

/* Quiz section */

.mainname_text {
    font-size: 9vw;
}

.mainname_quiz textarea {
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 10vw;
    font-family: inherit;
    border: none;
    background: transparent;
    color: #fff;
}

.mainname_quiz textarea:focus {
    outline: none;
}

.mainname_quiz textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
}

.main_name,
.main_footer {
    padding-top: 110px;
}

.main_name {
    z-index: 1;
    padding-top: 140px;
    padding-bottom: 120px;
    background-color: #fe505d;
    color: #f4f3f3;
}

.quiz_buttons {
    margin-top: 23px;
}

.quiz_btn {
    margin: 0 16px 0 0;
    padding: 0.3em 1.20em;
    font-size: 16px;
    border-radius: 50px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.quiz_btn:hover {
    background-color: #fff;
    color: #fe505d;
}



.main_footer {
    
}






















@media only screen and (max-width: 479px) {
    .content_wrapper {
        padding-left: 19.5px;
        padding-right: 19.5px;
    }

    .sect1_btn {
        margin: 15px 15px 0 0;
    }

    .main_nav {
        font-size: 22px;
    }

    .rounded-section {
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
    }

}

@media only screen and (max-width: 768px) {
/* Header section */
.more_buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
}

/* Section 2 blocks */

.mob_block {
    display: flex;
    height: 44vw;
}

.mc_title {
    max-width: 75px;
}

.mob_click {
    display: inline-block;
    width: 49%;
    height: 44vw;
    padding: 14px;
    text-transform: lowercase;
    box-sizing: border-box;
}

.mob_click .mc_title {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 7vw;
    font-weight: 400;
}

.mc_plus {
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url("../img/plus.png");
    background-size: 100% 100%;
}

.mc_desc {
    display: none;
}

.mob_click__1 {
    color: #fff;
    background-color: #FF505D;
    border-bottom-right-radius: 40%;
}

.mob_click__1 .mc_title {
    width: 50px;
}

.mob_click__2 {
    color: #002B9A;
    background-color: #F4EE6B;
    border-radius: 30px;
}

.mob_click__2 .mc_plus {
    filter: brightness(0.4);
}

.mob_click__3 {
    color: #fff;
    background-color: #002B9A;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    text-align: right;
}

.mob_click__3 .mc_title,
.mob_click__3 .mc_plus {
    margin-left: auto;
}

.mob_img__2 {
    border-radius: 50%;
}

.mob_img__3 {
    height: 44vw;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.mob_img__4 {
    height: 88vw;
    border-radius: 500px;
    display: inline-block;
}

.mob_img {
    display: inline-block;
    width: 49.4%;
    overflow: hidden;
    min-height: 44vw;
}

.mob_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mob_block__ver {
    display: inline-block;
    flex-direction: column;
    width: 50%;
}

.mob_block__ver .mob_img,
.mob_block__ver .mob_click {
    width: 100%;
}

.mob_blocks_group2 {
    display: flex;
}

}