body {
    background-color: #f4f3f3;
    font-family: Neuemontreal, sans-serif;
    color: #000;
    line-height: 1;
    font-weight: 400;
}

body, html {
    margin: 0;
    padding: 0;
}

.visually_hidden {
    position: absolute;
    visibility: hidden;
    height: 0.1px;
    width: 0.1px;
    overflow: hidden;
}

.btn {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    font-size: inherit;
    cursor: pointer;
}

a.btn {
    text-decoration: none;
}

.content_wrapper {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.head_sect0 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.site_logo {
    max-width: 100px;
    max-height: 80px;
    object-fit: contain;
    overflow: hidden;
}

.site_logo img {
    width: 45px;
}

.main_btn {
    display: block;
    position: relative;
    width: 40px;
    height: 14px;
    font-size: 0;
    line-height: 0;
    background: none;
}

.main_btn::before,
.main_btn::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #002b99;
}

.main_btn::before {
    top: 0;
}

.main_btn::after {
    bottom: 0;
}

/* Navigation block */

.main_nav {
    display: none;
}

/* First header section */
.head_sect1 {
    color: #002b99;
}

.head_sect1 {
    padding: 80px 0 0;
    margin-bottom: 60px;
}

.head_sect1 .header_text {
    font-size: 28.8px;
    font-weight: 400;
    line-height: 1.1em;
    letter-spacing: -0.003em;
}

.more_buttons {
    margin-top: 15px;
}

.sect1_btn {
    padding: 0.5em 1.5em;
    margin-right: 30px;
    background-color: #002b99;
    border-radius: 50px;
    color: #fff;
}

.sect1_btn__2 {
    background-color: transparent;
    border: 1px solid #002b99;
    color: #002b99;
}

/* Header text visuals */

.ht__1 {
    color: #fe505d;
}

.ic_1 {
    display: inline-block;
    width: 15px;
    margin: 0 5px;
    line-height: inherit;
    color: rgb(0, 204, 195);
}

.lottie-anim {
    display: inline-block;
}

.lottie-anim {
    /* width: 1em; */
    height: 1em;
    overflow: hidden;
    margin-bottom: -5px;
}

.lottie-anim__1 {
    width: 1.5em;
    height: 1.1em;
}

.main_sect1 {
    overflow: hidden;
}

/* Section 2 blocks */

.nlkblocks_block {
    display: flex;
    height: 44vw;
}

.nlkblocks_click {
    display: inline-block;
    width: 49%;
    height: 100%;
    padding: 14px;
    text-transform: lowercase;
    box-sizing: border-box;
    min-height: 44vw;
}

.nlkblocks_click h2 {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 23px;
    font-weight: 400;
}

.nlkblocks_click_plus {
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url("../img/plus.png");
    background-size: 100% 100%;
}

.nlkblocks_click_desc {
    display: none;
}

.nlkblocks_click__1 {
    color: #fff;
    background-color: #FF505D;
    border-top-right-radius: 40%;
}

.nlkblocks_click__2 {
    color: #002B9A;
    background-color: #F4EE6B;
    border-bottom-right-radius: 40%;
}

.nlkblocks_click__3 {
    color: #fff;
    background-color: #002B9A;
    border-bottom-left-radius: 40%;
}

.nlkblocks_click__3 .nlkblocks_click_plus {
    margin-left: auto;
}

.nlkblocks_img__2 {
    border-radius: 50%;
}

.nlkblocks_img__3 {
    height: 44vw;
    border-top-right-radius: 40%;
}

.nlkblocks_img__4 {
    height: 88vw;
    border-radius: 500px;
}

.nlkblocks_img {
    display: inline-block;
    width: 49.4%;
    overflow: hidden;
    min-height: 44vw;
}

.nlkblocks_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 479px) {
    .content_wrapper {
        padding-left: 19.5px;
        padding-right: 19.5px;
    }

    .sect1_btn {
        margin: 15px 15px 0 0;
    }

}